<div class="container-fluid px-4">
    <h2 class="mt-4">
        Failed Transaction History
    </h2>

    <div class="row mb-2">
        <div class="col">
            <%= page_entries_info @faileds, entry_name: 'failed transaction history' %>
        </div>
        <div class="col">
            <% if Failed.count > 15 %>
            <div class="d-flex flex-row-reverse">
                <div class="btn-group border">
                    <%= link_to " ", (path_to_prev_page @faileds), class: @faileds.first_page? ? "btn btn-dark bi bi-chevron-left disabled" : "btn btn-dark bi bi-chevron-left" %>
                    <%= link_to " ", (path_to_next_page @faileds), class: @faileds.last_page? ? "btn btn-dark bi bi-chevron-right disabled" : "btn btn-dark bi bi-chevron-right" %>
                </div>
            </div>
            <% end %>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered table-sm">
            <thead class="table-light">
                <tr>
                    <th scope="col" class="text-center">No.</th>
                    <th scope="col">Customer</th>
                    <th scope="col" class="text-center">Image</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Description</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col">Order Time</th>
                    <th scope="col">Canceled Time</th>
                    <%# <th scope="col" class="text-center">Action</th> %>
                </tr>
            </thead>
            <tbody>
                <%#  %>
                <% @faileds.order(id: :desc).each_with_index do |failed, index| %>
                <% product = failed.product %>
                <tr>
                    <td>
                    <%= index + 1 %>
                    </td>
                    <td>
                    <%= failed.customer %>
                    </td>
                    <td class="text-center">
                        <% unless product.nil? %>
                            <% if product.images.attached? %>
                                <% product.images.each_with_index do |image, idx| %>
                                    <% if idx == 0 %>
                                        <%# <%= image_tag(image, class:"img-thumbnail", width:50) %>
                                        <% if image.image? %>
                                            <%= image_tag image, class:"img-thumbnail", width:50 %>
                                        <% elsif image.video? %>
                                            <video class="img-thumbnail" style="width:50px;">
                                                <source src="<%= rails_blob_url(image) %>" type="<%= image.content_type %>"/>
                                            </video>
                                        <% else %>
                                            Download: <%= link_to image.filename, rails_blob_path(image, disposition: "file") %>
                                        <% end %>
                                        <%#  %>
                                    <% end %>
                                <% end %>
                            <% else %>
                                <%= image_tag("https://lpm.ulm.ac.id/image/desain/empty.jpg", class:"img-thumbnail", width:50) %>
                            <% end %>
                        <% else %>
                            <%= image_tag("https://lpm.ulm.ac.id/image/desain/empty.jpg", class:"img-thumbnail", width:50) %>
                        <% end %>
                    </td>
                    <td>
                    <%= failed.product_name %>
                    </td>
                    <td>
                    <%= number_to_currency(failed.product_price, unit: "Rp. ", separator: ",", delimiter: ".") %>
                    </td>
                    <td>
                    
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary <%= failed.description? == false ? 'disabled' : '' %>" data-bs-toggle="modal" data-bs-target="#exampleModal<%= failed.id %>">
                        Launch demo modal
                        </button>
                    </td>
                    <td>
                    <%= failed.quantity %>
                    </td>
                    <td>
                    <%= number_to_currency(failed.total_price, unit: "Rp. ", separator: ",", delimiter: ".") %>
                    </td>
                    <td>
                    <%= failed.order_start.strftime("%d/%m/%y") if !failed.order_start.nil? %>
                    </td>
                    <td>
                    <%= failed.created_at.strftime("%d/%m/%y") if !failed.created_at.nil?  %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>


<% @faileds.each do |failed| %>
<!-- Modal -->
<div class="modal fade" id="#exampleModal<%= failed.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <p>
        <%= failed.description %>
      </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<% end %>
