<div class="container-fluid px-4">
    <h2 class="mt-4">
        Sold products
    </h2>

    <div class="row mb-2">
        <div class="col">
            <%= page_entries_info @keeps, entry_name: 'purchase history' %>
        </div>
        <div class="col">
          <% if Keep.count > 15 %>
            <div class="d-flex flex-row-reverse">
                <div class="btn-group border">
                    <%= link_to " ", (path_to_prev_page @keeps), class: @keeps.first_page? ? "btn btn-dark bi bi-chevron-left disabled" : "btn btn-dark bi bi-chevron-left" %>
                    <%= link_to " ", (path_to_next_page @keeps), class: @keeps.last_page? ? "btn btn-dark bi bi-chevron-right disabled" : "btn btn-dark bi bi-chevron-right" %>
                </div>
            </div>
          <% end %>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered table-sm">
            <thead class="table-light">
                <tr>
                    <th scope="col" class="text-center">No.</th>
                    <th scope="col">Customer</th>
                    <th scope="col" class="text-center">Image</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col">Order Time</th>
                    <th scope="col" class="text-center">Due date</th>
                </tr>
            </thead>
            <tbody>
                <%#  %>
                <% @keeps.order(id: :desc).each_with_index do |keep, index| %>
                <% product = keep.product %>
                <tr>
                    <td>
                    <%= index + 1 %>
                    </td>
                    <td>
                    <%= keep.customer %>
                    </td>
                    <td class="text-center">
                    <%#  %>
                    <% unless product.nil? %>
                        <% if product.images.attached? %>
                            <% product.images.each_with_index do |image, idx| %>
                                <% if idx == 0 %>
                                    <%# <%= image_tag(image, class:"img-thumbnail", width:50) %>
                                    <% if image.image? %>
                                        <%= image_tag image, class:"img-thumbnail", width:50 %>
                                    <% elsif image.video? %>
                                        <video class="img-thumbnail" style="width:50px;">
                                            <source src="<%= rails_blob_url(image) %>" type="<%= image.content_type %>"/>
                                        </video>
                                    <% else %>
                                        Download: <%= link_to image.filename, rails_blob_path(image, disposition: "file") %>
                                    <% end %>
                                    <%#  %>
                                <% end %>
                            <% end %>
                        <% else %>
                            <%= image_tag("https://lpm.ulm.ac.id/image/desain/empty.jpg", class:"img-thumbnail", width:50) %>
                        <% end %>
                    <% else %>
                        <%= image_tag("https://lpm.ulm.ac.id/image/desain/empty.jpg", class:"img-thumbnail", width:50) %>
                    <% end %>
                    <%#  %>
                    </td>
                    <td>
                    <%= keep.product_name %>
                    </td>
                    <td>
                    <%= number_to_currency(keep.product_price, unit: "Rp. ", separator: ",", delimiter: ".") %>
                    </td>
                    <td>
                    <%= keep.quantity %>
                    </td>
                    <td>
                    <%= number_to_currency(keep.total_price, unit: "Rp. ", separator: ",", delimiter: ".") %>
                    </td>
                    <td>
                    <%= keep.order_start.strftime("%d/%m/%y") if !keep.order_start.nil? %>
                    </td>
                    <td>
                    <%= keep.order_end.strftime("%d/%m/%y") if !keep.order_end.nil?  %>
                    </td>
                </tr>
                <% end %>


                <tr class="table-warning">
                    <td colspan="5">
                    <strong>Total</strong>
                    </td>
                    <td class="table-danger">
                    <strong>
                    <%= @quantity_keep %>
                    </strong>
                    </td>
                    <td class="table-danger">
                    <strong>
                    <%# <%= number_to_currency(@orders.to_a.sum { |orderable| orderable.total }, unit: "Rp. ", separator: ",", delimiter: ".") %> 
                    <%= number_to_currency(@price_keep, unit: "Rp. ", separator: ",", delimiter: ".") %>
                    </strong>
                    </td>
                    <td>
                    </td>
                    <td> </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



