<% obj.order(id: :desc).where(admin: :false).each do |customer| %>
    <tr>
        <td><%= customer.username %></td>
        <td><%= customer.firstname + " " + customer.lastname %></td>
        <td><%= customer.email %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.wa_phone %></td>
        <td><%= time_ago_in_words(customer.created_at) %> ago</td>
        <td><%= link_to 'Detail', profile_path(customer), class:"btn btn-sm btn-primary" %></td>
    </tr>
<% end %>