<div class="container-fluid px-4">
    <h2 class="mt-4">
        Order page
    </h2>

    <div class="row mb-2">
        <div class="col">
            <%= page_entries_info @orders, entry_name: 'processed order' %>
        </div>
        <div class="col">
            <% if Orderable.count > 25 %>
            <div class="d-flex flex-row-reverse">
                <div class="btn-group border">
                    <%= link_to " ", (path_to_prev_page @orders), class: @orders.first_page? ? "btn btn-dark bi bi-chevron-left disabled" : "btn btn-dark bi bi-chevron-left" %>
                    <%= link_to " ", (path_to_next_page @orders), class: @orders.last_page? ? "btn btn-dark bi bi-chevron-right disabled" : "btn btn-dark bi bi-chevron-right" %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
<%# table %>
<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead class="table-light">
            <tr>
                <th scope="col" class="text-center">
                <%# No. %>
                </th>
                <th scope="col">Customer</th>
                <th scope="col" class="text-center">Image</th>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
                <th scope="col">Order Time</th>
                <th scope="col">Due Date</th>
                <th scope="col" class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <% @orders.order(id: :desc).each_with_index do |order, index| %>
                <%# <% if !order.images.empty? %>
                <% product = order.product %>
                    <% user = order.user %>
                        <tr>
                            <td class="text-center">
                                <%# <%= index + 1 %>
                                <i class="bi bi-dot"></i>
                            </td>
                            <td><%= user.username %></td>
                            <td class="text-center">
                                <%# <a data-bs-toggle="modal" href="#Modal %>
                                <%# <%= index %>
                                <%# "> %>
                                <a href="<%= admin_product_path(product) %>">
                                    <% if product.images.attached? %>
                                        <% product.images.each_with_index do |image, idx| %>
                                            <% if idx == 0 %>
                                                <%# <%= image_tag(image, class:"img-thumbnail", width:50) %>
                                                <% if image.image? %>
                                                    <%= image_tag image, class:"img-thumbnail", width:50 %>
                                                <% elsif image.video? %>
                                                    <video class="img-thumbnail" style="width:50px;">
                                                        <source src="<%= rails_blob_url(image) %>" type="<%= image.content_type %>"/>
                                                    </video>
                                                <% else %>
                                                    Download: <%= link_to image.filename, rails_blob_path(image, disposition: "file") %>
                                                <% end %>
                                                <%#  %>
                                            <% end %>
                                        <% end %>
                                    <% else %>
                                        <%= image_tag("https://lpm.ulm.ac.id/image/desain/empty.jpg", class:"img-thumbnail", width:50) %>
                                    <% end %>
                                </a>
                            </td>
                                <td><%= truncate(product.name, length: 20) %></td>
                                <td>
                                    <%= number_to_currency(product.price, unit: "Rp. ", separator: ",", delimiter: ".") %>
                                </td>
                                <td><%= order.quantity %></td>
                                <td>
                                    <%= number_to_currency(product.price * order.quantity, unit: "Rp. ", separator: ",", delimiter: ".") %>
                                </td>
                                <td>
                                <%= order.created_at.strftime("%d/%m/%y") %>
                                <%# <%= time_ago_in_words(order.created_at) %>
                                </td>
                                <td>
                                <%#  %>
                                <%= form_with(url: admin_histories_add_path) do |f| %>
                                    <%= f.hidden_field :id, value: order.id %>
                                    <%= f.hidden_field :price, value: product.price * order.quantity %>
                                    <%= f.hidden_field :quantity, value: order.quantity %>
                                    <%= f.hidden_field :order_at, value: order.created_at.strftime("%d/%m/%y") %>
                                    <%= f.hidden_field :customer, value: user.username %>
                                    <%= f.hidden_field :product_name, value: product.name %>
                                    <%= f.hidden_field :product_price, value: product.price %>
                                    <%= f.hidden_field :point, value: product.id %>
                                    <%= f.hidden_field :product_id, value: product.id %>
                                    <%= f.hidden_field :user_id, value: order.user.id %>
                                    <div class="form-floating mb-1">
                                        <%= f.date_field :date, class: "form-control" %>
                                        <label for="floatingInput">Due date</label>
                                    </div>
                                    <div class="d-grid gap-2">
                                        <%= f.submit "Process", class: order.images.empty? ? "btn btn-dark disabled" : "btn btn-dark" %>
                                    </div>
                                <% end %>
                                </td>
                                <td class="text-center">
                                    <%= form_with(url: admin_faileds_add_cart_path) do |f| %>
                                        <%= f.hidden_field :id, value: order.id %>
                                        <%= f.hidden_field :total_price, value: product.price * order.quantity %>
                                        <%= f.hidden_field :quantity, value: order.quantity %>
                                        <%= f.hidden_field :order_start, value: order.created_at.strftime("%d/%m/%y") %>
                                        <%= f.hidden_field :customer, value: user.username %>
                                        <%= f.hidden_field :product_name, value: product.name %>
                                        <%= f.hidden_field :product_price, value: product.price %>
                                        <%= f.hidden_field :product_id, value: product.id %>
                                        <%# <%= f.hidden_field :point, value: product.id %> 
                                        <%= f.hidden_field :user_id, value: order.user.id %>
                                        <%= f.submit "Cancel", class: "btn btn-dark btn-sm mb-1" %>
                                    <% end %>
                                    <% if !order.description.empty? %>
                                    <!-- Button trigger modal -->
                                    <div class="mb-1">
                                        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#Modal<%= index %>">
                                            Notes
                                        </button>
                                    </div>
                                    <% end %>
                                    <% if !order.images.empty? %>
                                    <div>
                                        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#Slip<%= index %>">
                                            Slip
                                        </button>
                                    </div>
                                    <% end %>
                                </td>
                            </tr>
                        <%# <% end %>
                        <% end %>
                        <tr class="table-warning">
                            <td colspan="5">
                                <strong>Total</strong>
                            </td>
                            <td class="table-danger">
                                <strong>
                                    <%= @orders.to_a.sum { |orderable| orderable.quantity } %>
                                </strong>
                            </td>
                            <td class="table-danger">
                                <strong>
                                    <%= number_to_currency(@orders.to_a.sum { |orderable| orderable.total }, unit: "Rp. ", separator: ",", delimiter: ".") %>
                                </strong>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
<%# end table %>
</div>


<% @orders.order(id: :desc).each_with_index do |order, index| %>
<!-- Modal -->
<div class="modal fade" id="Modal<%= index %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_format(order.description) %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Slip -->
<div class="modal fade" id="Slip<%= index %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% if order.images.attached? %>
            <% order.images.each do |image| %>
                <%= image_tag(image, class:'w-100') %>
            <% end %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<% end %>