<div class="container-fluid px-4">
    <h2 class="mt-4">
        Order page
    </h2>
<%# table %>
<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead class="table-light">
            <tr>
                <th scope="col" class="text-center">No.</th>
                <th scope="col">Customer</th>
                <th scope="col" class="text-center">Image</th>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
                <th scope="col">Order Time</th>
                <th scope="col" class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <% @orders.order(id: :desc).each_with_index do |order, index| %>
                <% product = order.product %>
                    <% user = order.user %>
                        <tr>
                            <td class="text-center"><%= index + 1 %></td>
                            <td><%= user.username %></td>
                            <td class="text-center">
                                <a data-bs-toggle="modal" href="#Modal<%= index %>">
                                    <% if product.images.attached? %>
                                        <% product.images.each_with_index do |image, idx| %>
                                            <% if idx == 0 %>
                                                <%= image_tag(image, class:"img-thumbnail", width:50) %>
                                            <% end %>
                                        <% end %>
                                    <% else %>
                                        <%= image_tag("https://lpm.ulm.ac.id/image/desain/empty.jpg", class:"img-thumbnail", width:50) %>
                                    <% end %>
                                </a>
                            </td>
                                <td><%= truncate(product.name, length: 20) %></td>
                                <td>
                                    <%= number_to_currency(product.price, unit: "Rp. ", separator: ",", delimiter: ".") %>
                                </td>
                                <td><%= order.quantity %></td>
                                <td>
                                    <%= number_to_currency(product.price * order.quantity, unit: "Rp. ", separator: ",", delimiter: ".") %>
                                </td>
                                <td>
                                <%= order.created_at.strftime("%d/%m/%y") %>
                                <%# <%= time_ago_in_words(order.created_at) %>
                                </td>
                                <td class="text-center">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#Modal<%= index %>">
                                        Detail
                                    </button>
                                    
                                    <%#  %>
                                    <%= form_with(url: admin_histories_add_path) do |f| %>
                                        <%= f.hidden_field :id, value: order.id %>
                                        <%= f.hidden_field :price, value: product.price * order.quantity %>
                                        <%= f.hidden_field :quantity, value: order.quantity %>
                                        <%= f.hidden_field :order_at, value: order.created_at.strftime("%d/%m/%y") %>
                                        <%= f.date_field :date %>
                                        <%= f.submit "Success" %>
                                    <% end %>
                                    <%#  %>
                                </td>
                            </tr>
                        <% end %>
                        <tr class="table-warning">
                            <td colspan="5">
                                <strong>Total</strong>
                            </td>
                            <td class="table-danger">
                                <strong>
                                    <%= @orders.to_a.sum { |orderable| orderable.quantity } %>
                                </strong>
                            </td>
                            <td class="table-danger">
                                <strong>
                                    <%= number_to_currency(@orders.to_a.sum { |orderable| orderable.total }, unit: "Rp. ", separator: ",", delimiter: ".") %>
                                </strong>
                            </td>
                            <td>
                            </td>
                            <td> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
<%# end table %>
</div>


<% @orders.order(id: :desc).each_with_index do |order, index| %>
<!-- Modal -->
<div class="modal fade" id="Modal<%= index %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= index %>
        <%= truncate(order.description, length: 20) %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<% end %>