<span data-turbo="true">
  <% if @cart.orderables.count > 0 %>
  <% @cart.orderables.order(id: :desc).each do |orderable| %>
  <% product = orderable.product %>
  <div class="card rounded-3 mb-4">
  <% if !orderable.images.empty? %>
    <div class="position-absolute top-0 start-0 m-1" style="margin-right:1000px;">
      <h6>
        <span class="badge bg-danger">
          Waiting..
        </span>
      </h6>
    </div>
  <% else %>
    <div class="position-absolute top-0 start-0 m-1" style="margin-right:1000px;">
      <%= form_with(url: cart_removecart_path) do |f| %>
        <%= f.hidden_field :id, value: orderable.id %>
        <%= f.submit "Delete", class:"btn btn-danger btn-sm" %>
      <% end %>
    </div>
  <% end %>
    <div class="position-absolute top-0 end-0 mt-1" style="margin-right:5px;">
      <a class="btn btn-sm btn-warning" data-bs-toggle="collapse" href="#col<%= orderable.id %>" role="button" aria-expanded="false" aria-controls="collapseExample">
        Edit
      </a>
    </div>
    <div class="position-absolute top-0 end-0 mt-1" style="margin-right:50px;">
      <a class="btn btn-sm <%= !orderable.images.empty? ? 'btn-warning' : 'btn-dark' %>" data-bs-toggle="collapse" href="#col-payment<%= orderable.id %>" role="button" aria-expanded="false" aria-controls="collapseExample">
        <% if !orderable.images.empty? %>
          Update Payment Slip
        <% else %>
          Upload Payment Slip
        <% end %>
      </a>
    </div>
  <div class="card-body p-4">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-md-2 col-lg-2 col-xl-2">
        <div data-turbo="false">
          <%= link_to product_path(product) do %>
            <% if product.images.attached? %>
              <% product.images.each_with_index do |image, index| %>
                <% if index == 0 %>
                  <%# <%= image_tag(image, class:"img-fluid rounded-3") %>
                  <% if image.image? %>
                    <%= image_tag image, class:"img-fluid rounded-3" %>
                  <% elsif image.video? %>
                    <video class="img-fluid rounded-3">
                      <source src="<%= rails_blob_url(image) %>" type="<%= image.content_type %>"/>
                    </video>
                  <% else %>
                      Download: <%= link_to image.filename, rails_blob_path(image, disposition: "file") %>
                  <% end %>
                  <%#  %>
                <% end %>
              <% end %>
            <% else %>
              <img src="https://lpm.ulm.ac.id/image/desain/empty.jpg" class="img-fluid rounded-3" alt="...">
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-3">
        <span data-turbo="false">
          <p class="lead fw-normal mb-2"><%= link_to product.name, product_path(product), class:"text-decoration-none text-dark" %></p>
        </span>
      <div>
      <%# </span> %>
        <%= number_to_currency(product.price, unit: "Rp. ", separator: ",", delimiter: ".") %>
      </div>
      <div>
        <span class="text-muted">Quantity: </span><%= orderable.quantity %>
    </div>
  </div>
  <div class="col-md-3 col-lg-3 col-xl-1 d-flex">
    <!-- Button trigger modal -->
    <button type="button" class="text-decoration-none btn btn-link <%= orderable.description.empty? ? 'disabled' : '' %>" data-bs-toggle="modal" data-bs-target="#modalDesc<%= orderable.id %>">
      <i class="bi bi-card-list"></i> Note
    </button>
    
    
    <button type="button" class="text-decoration-none btn btn-link <%= orderable.images.empty? ? 'disabled' : '' %>" data-bs-toggle="modal" data-bs-target="#modalSlip<%= orderable.id %>">
      <i class="bi bi-file-earmark"></i> Slip
    </button>

    </div>
      <div class="col-md-3 col-lg-2 col-xl-3 offset-lg-1">
        <h5 class="mb-0">
          <%= number_to_currency(product.price * orderable.quantity, unit: "Rp. ", separator: ",", delimiter: ".") %>
        </h5>
      </div>
    </div>
  </div>
  <%#  %>
  <span data-turbo="false">
    <div class="collapse" id="col-payment<%= orderable.id %>">
      <div class="m-4">
      
      <%#  %>
      <p>
      <h4>Upload slip :</h4>
      </p>
      <small>
      <i>
      (Only pdf and image)
      </i>
      </small>

      <%# TEST %>
      <%= form_with(url: cart_cart_update_path) do |form| %>
          <%= form.hidden_field :id, value: product.id %>

          <div class="mb-3 form">
            <%= form.file_field :images, accept:"image/*,application/pdf", id:"inp-img-vid", direct_upload: true, class:"form-control form-control-lg", multiple: true, required: true %>
          </div>

          <div class="d-grid gap-2 col-6 mx-auto">
            <%= form.submit orderable.images.empty? ? 'Upload' : 'Update', class: orderable.images.empty? ? "btn btn-success" : "btn btn-warning" %>
          </div>
        <% end %>
      <%# TEST END %>
      </div>
    </div>
  </span>
  <%#  %>
  <%#  %>
  <div class="collapse" id="col<%= orderable.id %>">
    <div class="m-4">
      <%= form_with(url: cart_addcart_path) do |f| %>
      <%= f.hidden_field :id, value: product.id %>
      <%= f.label :quantity, class:"form-label" %>
      <div class="mb-3">
        <%= f.number_field :quantity, value: orderable.quantity, min: 1, class:"form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label :description, 'Notes', class:"form-label" %>
        <%= f.text_area :description, value: orderable.description, class:"form-control", placeholder:"Add notes here.." %>
      </div>
    <br><br>
      <%#  %>
        <%= f.submit "Update cart", class:"btn btn-warning position-absolute bottom-0 start-0 mb-4 ms-4" %>
      <% end %>
    </div>
  </div>
  <%#  %>
  </div>
  <% end %>

  <% else %>
    Your cart is empty
  <% end %>
</span>
    <%# evidence of transfer %>
