  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">

        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
          <div>
          <h4>
<%= turbo_frame_tag "payment_counter" do %>
    <span data-turbo="true">
      <%= render 'cart/payment_counter' %>
    </span>
<% end %>
          </h4>
          </div>
        </div>
        <div class="text-center mb-3">
          <span class="badge text-bg-warning">
            <%= turbo_frame_tag "q_counter" do %>
              <span data-turbo="true">
                <%= render 'cart/q_counter' %>
              </span>
            <% end %>
          </span>
        </div>
<%= turbo_frame_tag "show_cart" do %>
    <span data-turbo="true">
        <%= render 'cart/showcart' %>
    </span>
<% end %>
      </div>
    </div>
  </div>

<% @cart.orderables.each do |orderable| %>
<!-- Modal -->
<div class="modal fade" id="modalDesc<%= orderable.id %>" tabindex="-1" aria-labelledby="modalDescLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
            <%= orderable.description %>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<% end %>
