<div class="container mb-4">
    <h3 class="text-center font-weight-light my-4">Edit
        <%= current_user.admin? ? 'Admin' : 'User' %>
        Registration</h3>
    <div class="main-body">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <% if current_user.avatar.present? %>
                                <%= image_tag(current_user.avatar.variant(resize_to_fill: [200, 200]), class: "rounded-circle") %>
                            <% else %>
                                <img src="http://www.familylore.org/images/2/25/UnknownPerson.png" alt="..." class="rounded-circle" width="200">
                            <% end %>
                            <div class="mt-3">
                                <% if current_user.avatar.present? %>Current:
                                    <%= current_user.avatar.filename.to_s %>
                                <% end %>
                                <%= f.file_field :avatar, class: "form-control" %>
                            </div>
                            <div class="mt-3">
                                <h4><%= current_user.username %></h4>
                                <p class="text-secondary mb-1"><%= current_user.email %></p>
                                <p class="text-muted font-size-sm">
                                    <%# Bay Area, San Francisco, CA %>
                                    <%= current_user.my_address %>
                                </p>
                                <p>
                                    <%= link_to 'My Profile', profile_path(current_user.id), class:"btn btn-dark w-100" %>
                                </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-floating mb-1">
                                        <%= f.text_field :firstname, class:"form-control", id:"inputfirstname",
                                        type:"firstname", placeholder:"name@example.com" %>
                                        <%= f.label :firstname, "First name", for:"inputfirstname" %>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating mb-1">
                                        <%= f.text_field :lastname, class:"form-control", id:"inputlastname",
                                        type:"lastname", placeholder:"name@example.com" %>
                                        <%= f.label :lastname, "Last name", for:"inputlastname" %>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating">
                                        <%= f.text_field :username, class:"form-control", id:"inputUsername",
                                        type:"Username", placeholder:"name@example.com" %>
                                        <%= f.label :username, "Username", for:"inputUsername" %>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating">
                                        <%= f.email_field :email, autofocus: true, autocomplete: "email",
                                        class:"form-control", id:"inputEmail", type:"email",
                                        placeholder:"name@example.com" %>
                                        <%= f.label :email, "Email address", for:"inputEmail" %>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-floating mb-1">
                                        <%= f.text_field :phone, class:"form-control", id:"inputphone", type:"phone",
                                        placeholder:"name@example.com" %>
                                        <%= f.label :phone, "Phone", for:"inputphone" %>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating mb-1">
                                        <%= f.text_field :wa_phone, class:"form-control", id:"inputwa_phone",
                                        type:"wa_phone", placeholder:"name@example.com" %>
                                        <%= f.label :wa_phone, "WhatsApp", for:"inputwa_phone" %>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col">
                                    <%# Bay Area, San Francisco, CA %>
                                        <div class="form-floating">
                                            <%= f.text_area :my_address, class:"form-control", id:"inputmy_address",
                                            type:"my_address", placeholder:"name@example.com" %>
                                            <%= f.label :my_address, "Address", for:"inputmy_address" %>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <%# <a class="btn btn-info" target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a> %>
                                            <%# <%= link_to "Edit profile", edit_user_registration_path, class:"btn btn-dark" %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <%#  %>
                        <div class="card">
                            <div class="card-body">
                                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                                    <div>Currently waiting confirmation for:
                                        <%= resource.unconfirmed_email %></div>
                                <% end %>
                                <%# Change password %>
                                    <% if @minimum_password_length %>
                                        <em><%= @minimum_password_length %>
                                            characters minimum</em>
                                    <% end %>

                                    <i>(leave blank if you don't want to change it)</i><br/>

                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <%= f.password_field :password, autofocus: true, autocomplete: "new-password",
                                                class:"form-control", id:"inputpassword", type:"password",
                                                placeholder:"name@example.com" %>
                                                <%= f.label :password, "New password", for:"inputpassword" %>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <%= f.password_field :password_confirmation, autocomplete: "new-password",
                                                class:"form-control", id:"inputpassword", type:"password",
                                                placeholder:"name@example.com" %>
                                                <%= f.label :password_confirmation, "Confirm new password", for:"inputpassword"
                                                %>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card bg-info bg-opacity-25">
                                        <div class="card-body">

                                            <i>enter your current password for any update</i>
                                            <div class="form-floating mb-3 mb-md-0">
                                                <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control", id:"inputpassword", type:"password", placeholder:"Current password" %>
                                                <%= f.label :current_password, "Current password", for:"inputpassword" %>
                                            </div>

                                            <div class="mt-4 mb-0">
                                                <div class="d-grid">
                                                    <%= f.submit "Update", class:"btn btn-success btn-block" %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                    <% end %>
</div>

                    <div class="card bg-danger bg-opacity-25 mt-2">
                        <div class="card-body">
                            <h4>
                                Cancel my account
                            </h4>
                                <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger" %></p>
                        </div>
                    </div>
