<div class="container mb-4" data-turbo="false">
    <h3 class="text-center font-weight-light my-4">Edit <%= current_user.admin? ? 'Admin' : 'User' %> Registration</h3>
    <div class="main-body">
        <%# s %>
        <div class="row row-cols-1 row-cols-md-2 g-4 gutters-sm">
            <div class="col-md-8 mb-3">
                <div class="card h-100">
                    <div class="m-4 text-center">
                    <%#  %>
                        <div class="d-flex flex-column align-items-center text-center">
                    <%#  %>
                        <div class="position-relative my-4">
                            <% if current_user.avatar.present? %>
                                <div class="display-img-vid-con" id="img-vid-con">
                                    <%= image_tag(current_user.avatar.variant(resize_to_fill: [200, 200]), class: "rounded-circle") %>
                                </div>
                            <% else %>
                                <div class="display-img-vid-con" id="img-vid-con">
                                    <img src="http://www.familylore.org/images/2/25/UnknownPerson.png" alt="..." class="rounded-circle" width="200">
                                </div>
                            <% end %>
                            <span class="position-absolute translate-middle bordered", style="top:5%;left:80%;">
                                <%= link_to "Delete", purge_avatar_profile_path(current_user.id), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-danger btn-sm" if current_user.avatar.present? %>
                                <span class="visually-hidden">unread messages</span>
                            </span>
                        </div>

                        <div class="mt-3">
                            <div>
                                <strong>Avatar</strong>
                            </div>
                            <%#  %>
                            <%= form_with(model: @profile, url: upload_avatar_profile_path(current_user.id), class:"input-group mb-3") do |f| %>
                                <%= f.file_field :avatar, id:"inp-img-vid", accept:"image/*", direct_upload: true, class:"form-control", required: true %>
                                <%= f.submit "Save", class:"btn btn-success" %>
                            <% end %>
                            <%#  %>
                        </div>
                        <div class="mt-3">
                            <h4><%= current_user.username %></h4>
                            <p class="text-secondary mb-1"><%= current_user.email %></p>
                            <p class="text-muted font-size-sm">
                            <%# Bay Area, San Francisco, CA %>
                                <%= current_user.my_address %>
                            </p>
                            <p>
                                <%= link_to 'My Profile', profile_path(current_user.id), class:"btn btn-dark w-100" %>
                            </p>
                        </div>
                    </div>
                    <%#  %>
                    </div>
                    <%#  %>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card h-100 bg-danger bg-opacity-25 text-end">
                    <div class="m-4">
                        <h3>Cancel my account</h3>
                        <p>
                            Unhappy?
                            <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger" %>
                        </p>
                        <hr>
                        <p>
                        <h5>
                            Sign out?
                        </h5>
                            <%= button_to "Sign Out", destroy_user_session_path, data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-dark" %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <%# s %>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="row gutters-sm">
            <%# <div class="col-md-8"> %>
            <div class="col">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-floating mb-1">
                                    <%= f.text_field :firstname, class:"form-control", id:"inputfirstname", type:"firstname", placeholder:"name@example.com" %>
                                    <%= f.label :firstname, "First name", for:"inputfirstname" %>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-1">
                                    <%= f.text_field :lastname, class:"form-control", id:"inputlastname", type:"lastname", placeholder:"name@example.com" %>
                                    <%= f.label :lastname, "Last name", for:"inputlastname" %>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <div class="form-floating">
                                    <%= f.text_field :username, class:"form-control", id:"inputUsername", type:"Username", placeholder:"name@example.com" %>
                                    <%= f.label :username, "Username", for:"inputUsername" %>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <div class="form-floating">
                                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"inputEmail", type:"email", placeholder:"name@example.com" %>
                                    <%= f.label :email, "Email address", for:"inputEmail" %>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-floating mb-1">
                                    <%= f.text_field :phone, class:"form-control", id:"inputphone", type:"phone", placeholder:"name@example.com" %>
                                    <%= f.label :phone, "Phone", for:"inputphone" %>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-1">
                                    <%= f.text_field :wa_phone, class:"form-control", id:"inputwa_phone", type:"wa_phone", placeholder:"name@example.com" %>
                                    <%= f.label :wa_phone, "WhatsApp", for:"inputwa_phone" %>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                        <%# ERROR STARTED %>
                            <div class="col">
                                <%# Bay Area, San Francisco, CA %>
                                <div class="form-floating">
                                    <%= f.text_area :my_address, style:"min-height:110px;", class:"form-control", id:"inputmy_address", type:"my_address", placeholder:"name@example.com" %>
                                    <%= f.label :my_address, "Address", for:"inputmy_address" %>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
            <%#  %>
        <div class="card">
            <div class="card-body">
            
            

            <div class="card mt-3 bg-warning bg-opacity-25">
                <div class="card-body">
                    <h3>Change Password</h3>
                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                    <% end %>

                    <div class="mb-3">
                        <%= f.label :password, "New password", class:"form-label" %> <i>(leave blank if you don't want to change it)</i><br />
                        <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
                    </div>

                    <% if @minimum_password_length %>
                        <em><%= @minimum_password_length %> characters minimum.</em>
                    <% end %>

                    <div class="mb-3">
                        <%= f.label :password_confirmation, class:"form-label" %><br />
                        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
                    </div>
                </div>
            </div>

                <div class="card mt-3 bg-info bg-opacity-25">
                    <div class="card-body">
                    <h3>Update Confirmation</h3>
                        <div class="mb-3">
                            <%= f.label :current_password, class:"form-label" %> <i>(we need your current password to confirm your changes *except avatar)</i><br />
                            <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
                        </div>

                        <%= f.submit "Update", class:"btn btn-success" %>
                        <%= link_to "Back", :back, class:"btn btn-dark" %>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>

<script>
  //$("#inp-img-vid").change( function(){ imgPreview(this); } );
  document.getElementById("inp-img-vid").addEventListener("change", onFileSelected, false);

  var tmpElement; //will be dynamically changed to Image or Video

  var file, file_ext, file_path, file_type, file_name;


  function show_Info_popUP()
  {
      alert("File is selected... " + "\n name : " + file_name  + "\n type : " + file_type + "\n ext : " + file_ext );
  }

  function onFileSelected ( input )
  {
  
      //if(input.files && input.files[0])
      if( input.target.files[0] )
      {
          file = input.target.files[0]; // FileList object
          
          file_ext; //# will extract file extension
          file_type = file.type; file_name = file.name;
          file_path = (window.URL || window.webkitURL).createObjectURL(file);
          
          //# get file extension (eg: "jpg" or "jpeg" or "webp" etc)
          file_ext = file_name.toLowerCase();
          file_ext = file_ext.substr( (file_ext.lastIndexOf(".")+1), (file_ext.length - file_ext.lastIndexOf(".")) );
          
          //# get file type (eg: "image" or "video")
          file_type = file_type.toLowerCase();
          file_type = file_type.substr( 0, file_type.indexOf("/") );
          
          let reader = new FileReader();
          reader.readAsDataURL(file);
          
          //reader.onload = function(e)
          reader.onloadend = function(evt) 
          { 
              //# POP-UP ...if you want to show (Alert box with) file details...
              // show_Info_popUP();
              
              if (evt.target.readyState == FileReader.DONE) 
              {
                  //# get container...
                  let container = document.getElementById("img-vid-con");
                  
                  //# remove any already existing child element(s)
                  while (container.firstChild)  
                  { container.removeChild(container.firstChild); }
                  
                  //# if IMAGE...
                  if ( file_type == "image" )
                  {
                      tmpElement = document.createElement( "img");
                      tmpElement.setAttribute("id", "preview-img");
                  }
                  
                  //# if VIDEO...
                  if ( file_type == "video" )
                  {
                      tmpElement = document.createElement( "video");
                      tmpElement.setAttribute("id", "preview-vid");
                      tmpElement.setAttribute("controls", "true" );
                      
                      tmpElement.addEventListener("loadeddata", () => 
                      {
                          //# what to do when some video data is loaded
                          
                          if (tmpElement.readyState >= 3) 
                          { 
                              //# what to do when video's first frame is ready
                              tmpElement.muted = true; //# if you want silent preview
                              tmpElement.play();
                          }
              
                      }); 
                  }
                  
                  //# finalise display size
                  // tmpElement.width = 640; tmpElement.height = 400;
                  
                  tmpElement.width = 200;
                  tmpElement.height = 200;
                  // tmpElement.style.objectFit = 'contain;';
                  // tmpElement.style.maxheight = '600px;';
                  // tmpElement.style.margin = '0px 50px 0px 50px';
                  
                  tmpElement.classList.add("rounded-circle");
                //   tmpElement.classList.add("w-100");
                //   tmpElement.classList.add("d-block");
                  
                  tmpElement.setAttribute("src", file_path);
                  container.appendChild(tmpElement);
              }
          
          }
          
      }
  }
</script>