<div class="container">
<%# <div class="row justify-content-center"> %>
    <%# <div class="col-lg-7"> %>
        <%# <div class="card shadow-lg border-0 rounded-lg mt-5"> %>
            <%# <div class="card-header"> %>
            <h3 class="text-center font-weight-light my-4">Edit <%= current_user.admin? ? 'Admin' : 'User' %> Registration</h3>
            <%# </div> %>
            <%# <div class="card-body"> %>
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
                <form>
                <% if current_user.avatar.present? %>
                    <%= image_tag(current_user.avatar.variant(resize_to_fill: [150, 150]), class: "rounded-circle") %>
                <% else %>
                    <%= image_tag('http://www.familylore.org/images/2/25/UnknownPerson.png', witdh: 150, height: 150, class: "rounded-circle") %>
                <%# <img alt="image" class="rounded-circle" src="https://img.freepik.com/free-photo/woman-showing-pinterest-icon_53876-40589.jpg?w=2000" width="150"> %>
                <% end %>
                    <!--Avatar Upload Field-->
                    <div class="form-group">
                    <label class="col-sm-4 col-form-label">Avatar:
                    <% if current_user.avatar.present? %><br />Current: <%= current_user.avatar.filename.to_s %><% end %>
                    </label>
                    <div class="col-sm-8"><%= f.file_field :avatar, class: "form-control" %></div>
                    </div>
                    <!--Avatar Upload Field-->
                    <div class="row mb-3">
                        <%# <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                <input
                                    class="form-control"
                                    id="inputFirstName"
                                    type="text"
                                    placeholder="Enter your first name"/>
                                <label for="inputFirstName">First name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input
                                    class="form-control"
                                    id="inputLastName"
                                    type="text"
                                    placeholder="Enter your last name"/>
                                <label for="inputLastName">Last name</label>
                            </div>
                        </div> %>
                    </div>
                    <%#  %>
                    <hr>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <%= f.text_field :firstname, class:"form-control", id:"inputfirstname", type:"firstname", placeholder:"name@example.com" %>
                                <%= f.label :firstname, "First name", for:"inputfirstname" %>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <%= f.text_field :lastname, class:"form-control", id:"inputlastname", type:"lastname", placeholder:"name@example.com" %>
                                <%= f.label :lastname, "Last name", for:"inputlastname" %>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <%= f.text_field :phone, class:"form-control", id:"inputphone", type:"phone", placeholder:"name@example.com" %>
                                <%= f.label :phone, "Phone", for:"inputphone" %>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <%= f.text_field :wa_phone, class:"form-control", id:"inputwa_phone", type:"wa_phone", placeholder:"name@example.com" %>
                                <%= f.label :wa_phone, "WhatsApp", for:"inputwa_phone" %>
                            </div>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <%= f.text_area :my_address, class:"form-control", id:"inputmy_address", type:"my_address", placeholder:"name@example.com" %>
                        <%= f.label :my_address, "Address", for:"inputmy_address" %>
                    </div>
                    <hr>
                    <%#  %>
                    <div class="form-floating mb-3">
                        <%= f.text_field :username, class:"form-control", id:"inputUsername", type:"Username", placeholder:"name@example.com" %>
                        <%= f.label :username, "Username", for:"inputUsername" %>
                    </div>
                    <div class="form-floating mb-3">
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"inputEmail", type:"email", placeholder:"name@example.com" %>
                        <%= f.label :email, "Email address", for:"inputEmail" %>
                    </div>

                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                    <% end %>
                    <%# Change password %>
                    <% if @minimum_password_length %>
                      <em><%= @minimum_password_length %> characters minimum</em>
                    <% end %>

                    <i>(leave blank if you don't want to change it)</i><br />
                    <%#  %>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:"form-control", id:"inputpassword", type:"password", placeholder:"name@example.com" %>
                                <%= f.label :password, "New password", for:"inputpassword" %>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", id:"inputpassword", type:"password", placeholder:"name@example.com" %>
                                <%= f.label :password_confirmation, "Confirm new password", for:"inputpassword" %>
                            </div>
                        </div>
                    </div>
                    <%# <div class="col-md-6"> %>
                      <div class="form-floating mb-3 mb-md-0">
                        <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control", id:"inputpassword", type:"password", placeholder:"name@example.com" %>
                        <%= f.label :current_password, "Current password", for:"inputpassword" %>
                      </div>
                    <%# </div> %>
                    <%#  %>

                    <div class="mt-4 mb-0">
                        <div class="d-grid">
                            <%= f.submit "Update", class:"btn btn-primary btn-block" %>
                        </div>
                    </div>
                </form>
              <% end %>
                    
            <div class="mt-4">
              <h3>Cancel my account</h3>
              <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
            </div>
            <%#  %>
            <%# </div> %>
            <%# <div class="card-footer text-center py-3">
                <div class="small">
                </div>
            </div> %>
        <%# </div> %>
    <%# </div> %>
<%# </div> %>
</div>
