<nav id="navbar_top" class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to "SisPottery", root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="bi bi-caret-down-fill"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <span class=" d-xxl-none d-xl-none d-xxl-block d-lg-none d-xl-block">
        <% if user_signed_in? && current_user.admin? %>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page">
              <img src="https://img.freepik.com/free-photo/woman-showing-pinterest-icon_53876-40589.jpg?w=2000" style="height:auto;width:35px;" class="rounded-circle" alt="...">
              <%= current_user.email %>
            </a>
          </li>
          <li class="nav-item"><%= link_to 'Edit profile', edit_user_registration_path, class:"nav-link active" %></li>
          <li class="nav-item"><%= link_to 'Sign out', destroy_user_session_path, class:"nav-link active", method: :delete %></li>
        <% else %>
          <li class="nav-item"><%= link_to 'Sign in', new_user_session_path, class:"nav-link active" %></li>
          <li class="nav-item"><%= link_to 'Sign up', new_user_registration_path, class:"nav-link active" %></li>
        <% end %>
        </span>
        <%# <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li> %>
      </ul>
      <%#  %>
      <div class="d-flex">
        <div class="btn-group d-sm-none d-md-block d-none d-sm-block">
          <button type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
            <%= current_user.email %>
          </button>
          <ul class="dropdown-menu dropdown-menu-lg-end">
            <% if user_signed_in? && current_user.admin? %>
            <li><%= link_to 'Edit profile', edit_user_registration_path, class:"dropdown-item" %></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, class:"dropdown-item", method: :delete %></li>
            <% else %>
            <li><%= link_to 'Sign in', new_user_session_path, class:"dropdown-item" %></li>
            <li><%= link_to 'Sign up', new_user_registration_path, class:"dropdown-item" %></li>
            <% end %>
          </ul>
        </div>
        <%#  %>
        <%# <div class="ms-2 d-md-none float-end">
          <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span>
              <i class="bi bi-list"></i>
            </span>
          </button>
          <button class="btn btn-outline-danger" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span>
              <i class="bi bi-list"></i>
            </span>
          </button>
        </div> %>
      </div>
      <%#  %>
    </div>
  </div>
</nav>



<script>
  document.addEventListener("DOMContentLoaded", function(){
    window.addEventListener('scroll', function() {
      document.getElementById('navbar_top').classList.add('fixed-top');
      // add padding top to show content behind navbar
      navbar_height = document.querySelector('.navbar').offsetHeight;
      document.body.style.paddingTop = navbar_height + 'px';
    });
  });
</script>
