    <body class="sb-nav-fixed" data-turbo="false">
        <%# start of navbar %>
        <%= render 'layouts/nav' %>
        <%# end of navbar %>
        <div id="layoutSidenav">
            <%# start of sidebar %>
            <% if user_signed_in? && current_user.admin? %>
            <%# <% if user_signed_in? %>
                <%= render 'layouts/sideadmin' %>
            <% else %>
                <%= render 'layouts/sideuser' %>
            <% end %>
            <%# end of sidebar %>

            <%# layoutSidenav_content for 
            add padding left to content %>
            <div id="layoutSidenav_content">
                <%# start of main content %>
                <main>
                <%= render 'layouts/alert' if flash.any? %>

                <div id="turbo_flash" data-turbo="true">
                    <%= render partial: "layouts/turboalert" %>
                </div>

                  <%= yield %>
                </main>
                <%# end of main content %>
                <%# start of footer %>
                <%= render 'layouts/foot' %>
                <%# end of footer %>
            </div>
        </div>
    </body>