<%= form_for([@product, @product.comments.build]) do |form| %>

    <% if !parent.nil? %>
        <%= form.hidden_field :parent_id, value:parent.id %>
    <% end %>
    
    <% form.label :reply_to %>
    <% form.text_field :reply_to %>
    
    <% form.label :content %>
    <div class="d-flex flex-row align-items-start">
        <%# <img class="rounded-circle me-2" src="https://i.imgur.com/RpzrMR2.jpg" width="40"> %>
        <% if user_signed_in? && current_user.avatar.present? %>
            <%= image_tag(current_user.avatar.variant(resize_to_fill: [40, 40]), class: "rounded-circle me-2") %>
        <% else %>
            <img class="rounded-circle border border-white me-2" src="http://www.familylore.org/images/2/25/UnknownPerson.png" width="40">
        <% end %>
        <%= form.text_area :content, class:"form-control ml-1 shadow-none textarea", placeholder: parent.nil? ? "Enter your comment..." : "Reply this comment..." %>
    </div>
    
    <div class="mt-2 text-right">
        <%= form.submit class:"btn btn-primary btn-sm shadow-none" %>
    </div>
    
<% end %>
<%# <button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel</button> %>