<%= form_with model: [:admin, @homepagess] do |form| %>
  <% if homepagess.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(homepagess.errors.count, "error") %> prohibited this homepagess from being saved:</h2>
      <ul>
        <% homepagess.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# <%= render 'pages/carousel', obj: @homepagess.covers if @homepagess.covers.attached? %>
  <%# <%= form.file_field :covers, multiple: true, class:"form-control" %>
  <div class="p-5 mb-4 bg-light bg-opacity-50">
      <div class="container-fluid py-5">
          <%# <div class="form-floating mb-2"> %>
            <%# <%= form.text_field :title, class:"form-control" %>
            <%# <%= form.label :title, class:"form-label", placeholder:"title" %>
          <%# </div> %>

          <div class="mb-2">
            <%= form.label :covers, 'Carousel:', class:"form-label" %>
            <%= form.file_field :covers, multiple: true, class:"form-control" %>
          </div>


          <div class="form-floating mb-2">
            <%= form.text_field :brand_name, class:"form-control", placeholder:"name" %>
            <%= form.label :brand_name, class:"form-label" %>
          </div>

            <div class="form-floating height-form-text mb-2">
              <%= form.text_area :description, class:"form-control w-100", style:"min-height:100px;" %>
              <%= form.label :description, class:"form-label", placeholder:"desc" %>
            </div>

          <%# <h1 class="display-5 fw-bold"> %>
            <div class="form-floating mb-2">
              <%= form.text_field :title, class:"form-control" %>
              <%= form.label :title, class:"form-label", placeholder:"title" %>
            </div>
          <%# </h1> %>
          <p class="col-md-8 fs-4" style="text-align:justify;">
          <%# <%= @homepagess.description %>
          </p>
          <%# <%= link_to "Shop now?", products_path, class:"btn btn-primary btn-lg" %>
      <%#  %>
          <%= form.submit class:"btn btn-primary btn-lg" %>
      </div>
  </div>
<% end %>
