<div class="container-fluid px-4">
    <h2 class="mt-4">
        Production Process
    </h2>

    <div class="row mb-2">
        <div class="col">
            <%= page_entries_info @vessels, entry_name: 'processed order' %>
        </div>
        <div class="col">
            <% if Vessel.count > 15 %>
            <div class="d-flex flex-row-reverse">
                <div class="btn-group border">
                    <%= link_to " ", (path_to_prev_page @vessels), class: @vessels.first_page? ? "btn btn-dark bi bi-chevron-left disabled" : "btn btn-dark bi bi-chevron-left" %>
                    <%= link_to " ", (path_to_next_page @vessels), class: @vessels.last_page? ? "btn btn-dark bi bi-chevron-right disabled" : "btn btn-dark bi bi-chevron-right" %>
                </div>
            </div>
            <% end %>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered table-sm">
            <thead class="table-light">
                <tr>
                    <th scope="col" class="text-center">No.</th>
                    <th scope="col">Customer</th>
                    <th scope="col" class="text-center">Image</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Description</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col">Order Time</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Action</th>
                    <%# <th scope="col" class="text-center">Action</th> %>
                </tr>
            </thead>
            <tbody>
                <% @vessels.order(id: :desc).each_with_index do |vessel, index| %>
                    <% product = vessel.product %>
                    <tr>
                        <td>
                            <%= index + 1 %>
                        </td>
                        <td>
                            <%= vessel.customer %>
                        </td>
                        <td class="text-center">
                            <% unless product.nil? %>
                                <% if product.images.attached? %>
                                    <% product.images.each_with_index do |image, idx| %>
                                        <% if idx == 0 %>
                                            <%# <%= image_tag(image, class:"img-thumbnail", width:50) %>
                                            <% if image.image? %>
                                                <%= image_tag image, class:"img-thumbnail", width:50 %>
                                            <% elsif image.video? %>
                                                <video class="img-thumbnail" style="width:50px;">
                                                    <source src="<%= rails_blob_url(image) %>" type="<%= image.content_type %>"/>
                                                </video>
                                            <% else %>
                                                Download: <%= link_to image.filename, rails_blob_path(image, disposition: "file") %>
                                            <% end %>
                                            <%#  %>
                                        <% end %>
                                    <% end %>
                                <% else %>
                                    <%= image_tag("https://lpm.ulm.ac.id/image/desain/empty.jpg", class:"img-thumbnail", width:50) %>
                                <% end %>
                            <% else %>
                                <%= image_tag("https://lpm.ulm.ac.id/image/desain/empty.jpg", class:"img-thumbnail", width:50) %>
                            <% end %>
                        </td>
                        <td>
                            <%= vessel.product_name %>
                        </td>
                        <td>
                            <%= number_to_currency(vessel.product_price, unit: "Rp. ", separator: ",", delimiter: ".") %>
                        </td>
                        <td>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary <%= vessel.description? == false ? 'disabled' : '' %>" data-bs-toggle="modal" data-bs-target="#exampleModal<%= vessel.id %>">
                            Launch demo modal
                            </button>
                        </td>
                        <td>
                            <%= vessel.quantity %>
                        </td>
                        <td>
                            <%= number_to_currency(vessel.price, unit: "Rp. ", separator: ",", delimiter: ".") %>
                        </td>
                        <td>
                            <%= vessel.order_at %>
                        </td>
                        <td>
                            <%= vessel.date.strftime("%d/%m/%y") if !vessel.date.blank? %>
                        </td>
                        <td class="text-center">
                            <%= form_with(url: admin_bucket_add_path) do |f| %>
                                <%= f.hidden_field :id, value: vessel.id %>
                                <%= f.hidden_field :customer, value: vessel.customer %>
                                <%= f.hidden_field :product_name, value: vessel.product_name %>
                                <%= f.hidden_field :quantity, value: vessel.quantity %>
                                <%= f.hidden_field :product_price, value: vessel.product_price %>
                                <%= f.hidden_field :total_price, value: vessel.price %>
                                <%= f.hidden_field :order_start, value: vessel.order_at %>
                                <%= f.hidden_field :order_end, value: vessel.date %>
                                <%= f.hidden_field :product_id, value: product.nil? ? vessel.point : product.id %>
                                <%= f.hidden_field :user_id, value: vessel.user_id %>
                                <%= f.hidden_field :description, value: vessel.description %>

                                <%= f.submit "Done", class: "btn btn-dark btn-sm mb-1" %>
                            <% end %>

                            <%= form_with(url: admin_faileds_add_bucket_path) do |f| %>
                                <%= f.hidden_field :id, value: vessel.id %>
                                <%= f.hidden_field :total_price, value: vessel.price * vessel.quantity %>
                                <%= f.hidden_field :quantity, value: vessel.quantity %>
                                <%= f.hidden_field :order_start, value: vessel.created_at.strftime("%d/%m/%y") %>
                                <%= f.hidden_field :customer, value: vessel.customer %>
                                <%= f.hidden_field :product_name, value: vessel.product_name %>
                                <%= f.hidden_field :product_price, value: vessel.price %>
                                <%= f.hidden_field :product_id, value: product.nil? ? vessel.point : product.id %>
                                <%= f.hidden_field :user_id, value: vessel.user.id %>
                                <%= f.hidden_field :description, value: vessel.description %>
                                <%= f.submit "Cancel", class: "btn btn-dark btn-sm", data: { confirm: "Are you sure?" } %>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
                <tr class="table-warning">
                    <td colspan="6">
                        <strong>Total</strong>
                    </td>
                    <td class="table-danger">
                        <strong>
                            <%= @quantity_vessel %>
                        </strong>
                    </td>
                    <td class="table-danger">
                        <strong>
                            <%# <%= number_to_currency(@orders.to_a.sum { |orderable| orderable.total }, unit: "Rp. ", separator: ",", delimiter: ".") %> 
                            <%= number_to_currency(@price_vessel, unit: "Rp. ", separator: ",", delimiter: ".") %>
                        </strong>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<% @vessels.each do |vessel| %>
<!-- Modal -->
<div class="modal fade" id="#exampleModal<%= vessel.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <p>
        <%= vessel.description %>
      </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<% end %>