<div class="container-fluid px-4">
    <h2 class="mt-4">
        Production Process
    </h2>
    <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered table-sm">
            <thead class="table-light">
                <tr>
                    <th scope="col" class="text-center">No.</th>
                    <th scope="col">Customer</th>
                    <th scope="col" class="text-center">Image</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col">Order Time</th>
                    <th scope="col">Due Date</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <% @vessels.each_with_index do |vessel, index| %>
                    <tr>
                        <td>
                            <%= index + 1 %>
                        </td>
                        <td>
                            <%= vessel.customer %>
                        </td>
                        <td>
                            <%=  %>
                        </td>
                        <td>
                            <%= vessel.product_name %>
                        </td>
                        <td>
                            <%= number_to_currency(vessel.product_price, unit: "Rp. ", separator: ",", delimiter: ".") %>
                        </td>
                        <td>
                            <%= vessel.quantity %>
                        </td>
                        <td>
                            <%= number_to_currency(vessel.price, unit: "Rp. ", separator: ",", delimiter: ".") %>
                        </td>
                        <td>
                            <%= vessel.order_at %>
                        </td>
                        <td>
                            <%= form_with(url: admin_bucket_add_path) do |f| %>
                            <%= f.hidden_field :id, value: vessel.id %>
                            <%= f.hidden_field :customer, value: vessel.customer %>
                            <%= f.hidden_field :product_name, value: vessel.product_name %>
                            <%= f.hidden_field :quantity, value: vessel.quantity %>
                            <%= f.hidden_field :product_price, value: vessel.product_price %>
                            <%= f.hidden_field :total_price, value: vessel.price * vessel.quantity %>
                            <%= f.hidden_field :order_start, value: vessel.order_at %>
                            <%= f.hidden_field :order_end, value: vessel.date %>
                            <%= f.text_field :point, value: vessel.id %>
                            <%= f.submit "Done" %>
                            <% end %>

                            <%= form_with(url: admin_histories_remove_path) do |f| %>
                            <%= f.hidden_field :id, value: vessel.id %>
                            <%= f.submit "Cancel" %>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
                <tr class="table-warning">
                    <td colspan="5">
                        <strong>Total</strong>
                    </td>
                    <td class="table-danger">
                        <strong>
                            <%= @quantity_vessel %>
                        </strong>
                    </td>
                    <td class="table-danger">
                        <strong>
                            <%# <%= number_to_currency(@orders.to_a.sum { |orderable| orderable.total }, unit: "Rp. ", separator: ",", delimiter: ".") %> 
                            <%= number_to_currency(@price_vessel, unit: "Rp. ", separator: ",", delimiter: ".") %>
                        </strong>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


