<%= form_with model: [:admin, @about] do |form| %>
<% if about.errors.any? %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <div id="error_explanation">
        <h2><%= pluralize(about.errors.count, "error") %> prohibited this about from being saved:</h2>
        <ul>
            <% about.errors.each do |error| %>
                <li><%= error.full_message %></li>
            <% end %>
        </ul>
    </div>
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% end %>

<ul class="timeline">
    <%#  %>
    <li class="timeline-inverted">
        <div class="timeline-image circular">
            <% if @about.image.attached? %>
                <div class="display-img-vid-con" id="img-vid-con">
                    <%= image_tag(@about.image.variant(resize_to_fill: [200, 200]), id:"file-ip-1-preview") %>
                </div>
            <% else %>
                <%# <img class="" src="https://images.unsplash.com/photo-1520408222757-6f9f95d87d5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cG90dGVyeXxlbnwwfHwwfHw%3D&w=1000&q=80" alt="..." /> %>
                <div class="display-img-vid-con" id="img-vid-con">
                    <img class="" src="https://static.vecteezy.com/system/resources/thumbnails/004/141/669/small/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg" alt="..." id="file-ip-1-preview" />
                </div>
            <% end %>
            <%# <img class="" src="https://static.vecteezy.com/system/resources/thumbnails/004/141/669/small/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg" alt="..." /> %>
            <%# <img class="" src="http://www.familylore.org/images/2/25/UnknownPerson.png" alt="..." /> %>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
            <%# <h4>2009-2011</h4> %>
                <div class="mb-3">
                    <%= form.file_field :image, accept:"image/*", id:"inp-img-vid", direct_upload: true, class:"form-control form-control-lg" %>
                    <%# <%= form.file_field :image, class:"form-control" %>
                </div>
                <div class="subheading form-floating mb-3">
                    <%= form.text_field :title, class:"form-control", placeholder:"title" %>
                    <label for="floatingInput">Title</label>
                </div>
            </div>
            <div class="timeline-body">
            <%# <p class="text-muted"> %>
                <div class="form-floating mb-3">
                    <%= form.text_area :description, class:"form-control", placeholder:"title", style:"height:150px;" %>
                    <label for="floatingInput">Description</label>
                </div>
                <div class="">
                    <%= form.submit class:"btn btn-dark" %>
                    <%= link_to 'Back', admin_abouts_path, class:"btn btn-dark" %>
                </div>
            </div>
        </div>
    </li>
</ul>
<% end %>


<script>
//$("#inp-img-vid").change( function(){ imgPreview(this); } );
document.getElementById("inp-img-vid").addEventListener("change", onFileSelected, false);

var tmpElement; //will be dynamically changed to Image or Video

var file, file_ext, file_path, file_type, file_name;


function show_Info_popUP()
{
    alert("File is selected... " + "\n name : " + file_name  + "\n type : " + file_type + "\n ext : " + file_ext );
}

function onFileSelected ( input )
{

    //if(input.files && input.files[0])
    if( input.target.files[0] )
    {
        file = input.target.files[0]; // FileList object
        
        file_ext; //# will extract file extension
        file_type = file.type; file_name = file.name;
        file_path = (window.URL || window.webkitURL).createObjectURL(file);
        
        //# get file extension (eg: "jpg" or "jpeg" or "webp" etc)
        file_ext = file_name.toLowerCase();
        file_ext = file_ext.substr( (file_ext.lastIndexOf(".")+1), (file_ext.length - file_ext.lastIndexOf(".")) );
        
        //# get file type (eg: "image" or "video")
        file_type = file_type.toLowerCase();
        file_type = file_type.substr( 0, file_type.indexOf("/") );
        
        let reader = new FileReader();
        reader.readAsDataURL(file);
        
        //reader.onload = function(e)
        reader.onloadend = function(evt) 
        { 
            //# POP-UP ...if you want to show (Alert box with) file details...
            // show_Info_popUP();
            
            if (evt.target.readyState == FileReader.DONE) 
            {
                //# get container...
                let container = document.getElementById("img-vid-con");
                
                //# remove any already existing child element(s)
                while (container.firstChild)  
                { container.removeChild(container.firstChild); }
                
                //# if IMAGE...
                if ( file_type == "image" )
                {
                    tmpElement = document.createElement( "img");
                    tmpElement.setAttribute("id", "preview-img");
                }
                
                //# if VIDEO...
                if ( file_type == "video" )
                {
                    tmpElement = document.createElement( "video");
                    tmpElement.setAttribute("id", "preview-vid");
                    tmpElement.setAttribute("controls", "true" );
                    
                    tmpElement.addEventListener("loadeddata", () => 
                    {
                        //# what to do when some video data is loaded
                        
                        if (tmpElement.readyState >= 3) 
                        { 
                            //# what to do when video's first frame is ready
                            tmpElement.muted = true; //# if you want silent preview
                            tmpElement.play();
                        }
            
                    }); 
                }
                
                //# finalise display size
                // tmpElement.width = 640; tmpElement.height = 400;
                
                // tmpElement.style.width = 200;
                // tmpElement.style.objectFit = 'contain;';
                // tmpElement.style.height = 200;
                // tmpElement.style.margin = '0px 50px 0px 50px';
                
                <%# tmpElement.classList.add("img-carousel");
                tmpElement.classList.add("w-100");
                tmpElement.classList.add("d-block"); %>
                
                tmpElement.setAttribute("src", file_path);
                container.appendChild(tmpElement);
            }
        
        }
        
    }
}
</script>