<div class="container-fluid py-5">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-10">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h3 class="fw-normal mb-0 text-black">Purchase History</h3>
      <div>
      <h4>
        <strong>Total Payment: </strong>
        <%= number_to_currency(@price_keep, unit: "Rp. ", separator: ",", delimiter: ".") %>
      </h4>
    </div>
  </div>
  <div class="text-center mb-3">
    <span class="badge text-bg-warning">
      <span>Total Quantity: <%= @quantity_keep %></span>
    </span>
  </div>
  <%#  %>
    <div class="row mb-2">
        <div class="col">
            <%= page_entries_info @keeps, entry_name: 'purchase history' %>
        </div>
        <div class="col">
          <% if current_user.keeps.count > 15 %>
            <div class="d-flex flex-row-reverse">
              <div class="btn-group border">
                  <%= link_to " ", (path_to_prev_page @keeps), class: @keeps.first_page? ? "btn btn-dark bi bi-chevron-left disabled" : "btn btn-dark bi bi-chevron-left" %>
                  <%= link_to " ", (path_to_next_page @keeps), class: @keeps.last_page? ? "btn btn-dark bi bi-chevron-right disabled" : "btn btn-dark bi bi-chevron-right" %>
              </div>
            </div>
          <% end %>
        </div>
    </div>
  <%#  %>

  <% @keeps.order(id: :desc).each_with_index do |keep, index| %>
    <div class="card rounded-3 mb-4">
      <div class="position-absolute top-0 end-0 m-1">
        <h5>
          <span class="badge bg-danger">
            Completed date: <%= keep.order_end %>
          </span>
        </h5>
      </div>
      <%# <div class="position-absolute top-0 end-0 mt-1" style="margin-right:65px;">
        BTN COLAPE
      </div> %>
    <div class="card-body p-4">
      <div class="row d-flex justify-content-between align-items-center">
        <div class="col-md-2 col-lg-2 col-xl-2">
          <%# PICT %>
          <%= link_to product_path(keep.product_id) do %> 
            <img src="https://lpm.ulm.ac.id/image/desain/empty.jpg" class="img-fluid rounded-3" alt="...">
          <% end %>

        </div>
        <div class="col-md-3 col-lg-3 col-xl-3">
          <span data-turbo="false">
            <p class="lead fw-normal mb-2">
              <%# <%= keep.product_name %>
              <%= link_to keep.product_name, product_path(keep.product_id), class:"text-decoration-none text-dark" %> 
            </p>
          </span>
        <div>
        <%# </span> %>
        <%= number_to_currency(keep.product_price, unit: "Rp. ", separator: ",", delimiter: ".") %> 
          <%# <%= number_to_currency(product.price, unit: "Rp. ", separator: ",", delimiter: ".") %>
        </div>
        <div>
          <span class="text-muted">Quantity: </span>
            <%# <%= orderable.quantity %>
            <%= keep.quantity %>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-1 d-flex">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-link text-decoration-none">
        <i class="bi bi-card-list"></i> Note    
      </button>
      </div>
        <div class="col-md-3 col-lg-2 col-xl-3 offset-lg-1">
          <h5 class="mb-0">
            <%= number_to_currency(keep.product_price*keep.quantity, unit: "Rp. ", separator: ",", delimiter: ".") %>
            <%# <%= number_to_currency(product.price * orderable.quantity, unit: "Rp. ", separator: ",", delimiter: ".") %>
          </h5>
        </div>
      </div>
    </div>
    </div>
  <% end %>
</div>
