<div class="card">
  <div class="dropdown dropstart zindex end-0 m-1">
    <button
        class="btn btn-dark"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="bi bi-three-dots-vertical"></i>
    </button>
    <ul class="dropdown-menu">
        <li><%= link_to "View", admin_product_path(product), class:"dropdown-item" if params[:action] == "edit" %></li>
        <li><%= link_to "Exit", admin_products_path(product), class:"dropdown-item" %></li>
    </ul>
  </div>
  <div class="card-body">
    <%= form_with model: [:admin, @product] do |form| %>
      <% if product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
          <ul>
            <% product.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mb-3 field">
        <%= form.label :images, class:"form-label" %>
        <%= form.file_field :images, class:"form-control form-control-lg", multiple: true %>
      </div>

      <div class="form-floating mb-3">
        <%= form.text_field :name, class:"form-control", placeholder:"name" %>
        <%= form.label :name, class:"form-label" %>
      </div>

      <div class="form-floating mb-3">
        <%= form.number_field :price, class:"form-control", placeholder:"123" %>
        <%= form.label :price, class:"form-label" %>
      </div>

      <div class="form-floating mb-3">
        <%= form.number_field :quantity, class:"form-control", placeholder:"123" %>
        <%= form.label :quantity, class:"form-label" %>
      </div>

      <div class="form-floating mb-3">
        <%= form.text_area :description, class:"form-control", placeholder:"desc", style:"min-height:300px" %>
        <%= form.label :description, class:"form-label" %>
      </div>

      <div class="d-grid gap-2 col-6 mx-auto">
        <%= form.submit class:"btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>
