<div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
    <% obj.order(id: :desc).each do |product| %>
        <div class="col">
            <div class="card h-100">
            <%#  %>
            <div class="position-absolute top-0 end-0 m-1">

                <div class="dropdown dropstart">
                    <button class="btn btn-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><%= link_to "Edit", edit_admin_product_path(product), class:"dropdown-item" %></li>
                        <li><%= link_to "Delete", admin_product_path(product), class:"dropdown-item", method: :delete, data: { confirm: 'Are you sure?' } %></li>
                    </ul>
                </div>            

            </div>
            <%#  %>
            
                <%= link_to admin_product_path(product) do %>
                    <% if product.images.attached? %>
                        <% product.images.each_with_index do |image, index| %>
                            <% if index == 0 %>
                                <%= image_tag(image, class:"card-img-top img-show") %>
                            <% end %>
                        <%# <img src="https://lpm.ulm.ac.id/image/desain/empty.jpg" class="card-img-top" alt="..."> %>
                        <% end %>
                        <%# <img src="https://lpm.ulm.ac.id/image/desain/empty.jpg" class="card-img-top" alt="..."> %>
                    <% else %>
                        <img src="https://lpm.ulm.ac.id/image/desain/empty.jpg" class="card-img-top img-show" alt="...">
                    <% end %>
                <% end %>
                <div class="card-body">
                    <h5 class="card-title"><%= link_to product.name, admin_product_path(product), class:"text-decoration-none" %></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= number_to_currency(product.price, unit: "Rp. ", separator: ",", delimiter: ".") %></h6>
                </div>
            </div>
        </div>
    <% end %>
</div>
