<div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
    <% obj.order(id: :desc).each do |product| %>
        <div class="col">
            <div class="card h-100">
                <div class="position-absolute top-0 end-0 m-1" style="z-index:2;">

                    <div class="dropdown dropstart">
                        <button class="btn btn-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><%= link_to "Edit", edit_admin_product_path(product), class:"dropdown-item" %></li>
                            <li><%= link_to "Delete", admin_product_path(product), class:"dropdown-item", method: :delete, data: { confirm: 'Are you sure?' } %></li>
                        </ul>
                    </div>            

                </div>
                <%= link_to admin_product_path(product) do %>
                    <% if product.images.attached? %>
                        <% product.images.each_with_index do |image, index| %>
                            <% if index == 0 %>
                                <% if image.image? %>
                                    <%= image_tag(image, class:"card-img-top img-show") %>
                                <% elsif image.video? %>
                                    <video class="card-img-top img-show">
                                        <source src="<%= rails_blob_url(image) %>" type="<%= image.content_type %>"/>
                                    </video>
                                <% else %>
                                    Download: <%= link_to image.filename, rails_blob_path(image, disposition: "file") %>
                                <% end %>
                            <% end %>
                        <%# <img src="https://lpm.ulm.ac.id/image/desain/empty.jpg" class="card-img-top" alt="..."> %>
                        <% end %>
                        <%# <img src="https://lpm.ulm.ac.id/image/desain/empty.jpg" class="card-img-top" alt="..."> %>
                    <% else %>
                        <img src="https://lpm.ulm.ac.id/image/desain/empty.jpg" class="card-img-top img-show" alt="...">
                    <% end %>
                <% end %>

                <div class="card-body">
                    <h5 class="card-title"><%= link_to product.name, product, class:"text-decoration-none" %></h5>
                    <h6 class="card-subtitle mb-3 text-muted"><%= number_to_currency(product.price, unit: "Rp. ", separator: ",", delimiter: ".") %></h6>
                    <div class="row">
                        <div class="col">
                            <h6 class="card-subtitle mb-2 text-muted">
                                <%= product.keeps.count %> sold
                            </h6>
                        </div>
                        <div class="col text-end">
                            <h6 class="card-subtitle mb-2 text-muted">
                                <%= render "products/votes_score", product: product %>
                            </h6>
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <%= link_to product.stock_product == true ? "Ready" : "Out of stock", admin_stock_path(product), method: :patch, class:product.stock_product == true ? "btn btn-warning" : "btn btn-danger" %>
                        <%= link_to product.pre_order == true ? "Direct order" : "Pre-Order", admin_preorder_path(product), method: :patch, class:product.pre_order == true ? "btn btn-warning" : "btn btn-danger" %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>