<%= turbo_frame_tag "cart_update" do %>
              <div class="card">
              <div class="card-body">
              <h2>Order</h2>
            <%= form_with(url: cart_add_path) do |f| %>
              <%= f.hidden_field :id, value: @product.id %>
              <%= f.label :quantity, class:"form-label" %>
              <div class="mb-3">
                <%= f.number_field :quantity, value: @cart.orderables.find_by(product_id: @product.id).quantity, min: 1, class:"form-control" %>
              </div>
              <div class="mb-3">
                <%= f.label :description, 'Notes', class:"form-label" %>
                <%= f.text_area :description, value: @cart.orderables.find_by(product_id: @product.id).description, class:"form-control", placeholder:"Add notes here.." %>
              </div>
              <br><br>
                <%= f.submit "Update cart", class:"btn btn-warning position-absolute bottom-0 start-0 mb-4 ms-4" %>
            <% end %>
            <%= form_with(url: cart_remove_path) do |f| %>
              <%= f.hidden_field :id, value: @cart.orderables.find_by(product_id: @product.id).id %>
                <div class="mb-3">
                  <%= f.submit "Cancel order", class:"btn btn-danger position-absolute bottom-0 end-0 mb-4 me-4" %>
                </div>
            <% end %>
              </div>
              </div>
<% end %>