<%= turbo_frame_tag "cart_add" do %>
          <div class="card">
            <div class="card-body">
              <h2>Order</h2>
          <%= form_with(url: cart_add_path) do |f| %>
            <%# <%= f.hidden_field :id, value: Product.find_by(id: params[:id]).id %> 
            <%= f.hidden_field :id, value: Product.find(params[:id]).id %>
            <%= f.label :quantity, class:"form-label" %>
            <div class="mb-3">
              <%= f.number_field :quantity, value: 0, min: 1, class:"form-control" %>
            </div>
            <div class="mb-3">
              <%= f.label :description, 'Notes', class:"form-label" %>
              <%= f.text_area :description, class:"form-control", placeholder:"Add notes here.." %>
            </div>
            <br><br>
              <%= f.submit "Add to cart", class:"btn btn-primary position-absolute bottom-0 start-0 mb-4 ms-4" %>
          <% end %>
            </div>
          </div>
<% end %>
