<div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
    <% obj.order(id: :desc).where(stock_product: false).each do |product| %>
        <div class="col">
            <div class="card h-100">
            <% if product.pre_order == true %>
                <div class="position-absolute top-0 start-0 m-1" style="z-index:2;">
                    <span class="badge rounded-pill text-bg-primary">Pre-Order</span>
                </div>
            <% end %>
            <% if user_signed_in? %>
            <div class="position-absolute top-0 end-0 m-1" style="z-index:2;">
                <%= render "products/upvote_link", product: product %>
            </div>
            <% else %>
                <div class="position-absolute top-0 end-0 m-1" style="z-index:2;">
                    <%= link_to upvote_product_path(product), method: :patch do %>
                        <h3 class="border-like-false">
                            <i class="bi bi-heart-fill"></i>
                        </h3>
                    <% end %>
                </div>
            <% end %>
                <%= link_to product_path(product) do %>
                    <% if product.images.attached? %>
                        <% product.images.each_with_index do |image, index| %>
                            <% if index == 0 %>
                                <% if image.image? %>
                                    <%= image_tag(image, class:"card-img-top img-show") %>
                                <% elsif image.video? %>
                                    <video class="card-img-top img-show">
                                        <source src="<%= rails_blob_url(image) %>" type="<%= image.content_type %>"/>
                                    </video>
                                <% else %>
                                    Download: <%= link_to image.filename, rails_blob_path(image, disposition: "file") %>
                                <% end %>
                            <% end %>
                        <% end %>
                    <% else %>
                        <img src="https://lpm.ulm.ac.id/image/desain/empty.jpg" class="card-img-top img-show" alt="...">
                    <% end %>
                <% end %>

                <div class="card-body">
                    <h5 class="card-title"><%= link_to product.name, product, class:"text-decoration-none" %></h5>
                    <h6 class="card-subtitle mb-3 text-muted"><%= number_to_currency(product.price, unit: "Rp. ", separator: ",", delimiter: ".") %></h6>
                    <div class="row">
                        <div class="col">
                            <h6 class="card-subtitle mb-2 text-muted">
                                <%= product.keeps.count %> sold
                            </h6>
                        </div>
                        <div class="col text-end">
                            <h6 class="card-subtitle mb-2 text-muted">
                                <%= render "products/votes_score", product: product %>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>


