<div class="container-fluid px-4">
<%#  %>
<h1>
  <%= @product.id %>
</h1>
<%#  %>
  <div class="mt-4">
    <div class="card mb-3 bg-light">
      <div class="card-body">
      <%#  %>
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb float-start">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Library</a></li>
              <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
          </nav>
        </div>
        <div class="col">
          <%= link_to 'Exit', products_path, class:"btn btn-lg btn-dark float-end" %>
        </div>
      </div>
      <%#  %>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col sticky-container bg-light bg-opacity-25">
        <div class="sticky-2 w-100 border shadow-sm rounded">
          <%#  %>
          <% @product.images.each_with_index do |c, index| %>
            <% if index > 0 %>
              <div class="carousel-dark">
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            <% end %>
          <% end %>
          <%#  %>
          <% if @product.images.attached? %>
            <%= render 'products/carousel_product', obj: @product.images %>
          <% else %>
            <%= image_tag('https://lpm.ulm.ac.id/image/desain/empty.jpg', class:'d-block w-100 img-carousel') %>
          <% end %>
          <%#  %>
        </div>
      </div>
      <div class="col">
        <div>
          <strong class="fs-1"><%= @product.name %></strong>
        </div>
        <div class="my-2 mb-2">
          <strong class="fs-4">
            <%= number_to_currency(@product.price, unit: "Rp. ", separator: ",", delimiter: ".") %>
          </strong>
        </div>

        <div>
          <%= @product.quantity %>
        </div>

        <div>
          <p>
            <%= simple_format(@product.description, style:"text-align:justify;") %>
          </p>
        </div>

        <%# start test %>
        <%# <div data-turbo="true"> %>
        <% if !@showorder.nil? %>
              <div class="card">
              <div class="card-body">
              <h2>Order</h2>
            <%= form_with(url: cart_add_path) do |f| %>
              <%= f.hidden_field :id, value: @product.id %>
              <%= f.label :quantity, class:"form-label" %>
              <div class="mb-3">
                <%= f.number_field :quantity, value: @showorder.quantity, min: 1, class:"form-control" %>
              </div>
              <div class="mb-3">
                <%= f.label :description, 'Notes', class:"form-label" %>
                <%= f.text_area :description, value: @showorder.description, class:"form-control", placeholder:"Add notes here.." %>
              </div>
              <br><br>
              <%#  %>
                <%= f.submit "Update cart", class:"btn btn-warning position-absolute bottom-0 start-0 mb-4 ms-4" %>
            <% end %>
            <%# <div class=", class:"""> %>
            <%= form_with(url: cart_remove_path) do |f| %>
              <%= f.hidden_field :id, value: @showorder.id %>
                <div class="mb-3">
                  <%= f.submit "Cancel order", class:"btn btn-danger position-absolute bottom-0 end-0 mb-4 me-4" %>
                </div>
            <% end %>
              </div>
              </div>
              <%#  %>
        <% else %>
          <div class="card">
            <div class="card-body">
              <h2>Order</h2>
          <%= form_with(url: cart_add_path) do |f| %>
            <%= f.hidden_field :id, value: @product.id %>
            <%= f.label :quantity, class:"form-label" %>
            <div class="mb-3">
              <%= f.number_field :quantity, value: 0, min: 1, class:"form-control" %>
            </div>
            <div class="mb-3">
              <%= f.label :description, 'Notes', class:"form-label" %>
              <%= f.text_area :description, class:"form-control", placeholder:"Add notes here.." %>
            </div>
            <br><br>
              <%= f.submit "Add to cart", class:"btn btn-primary position-absolute bottom-0 start-0 mb-4 ms-4" %>
          <% end %>
            </div>
          </div>
        <% end %>
        <%# </div> %>
        <%# end test %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-4">
    <div class="d-flex justify-content-center row mb-4">
        <div class="col">
            <div class="d-flex flex-column comment-section">
              <h4>
                Comments (<%= @product.comments.count %>)
              </h4>
              <div class="bg-secondary p-2 rounded bg-opacity-25 mb-4">
                <%= render partial: 'comments/form', locals: { product: @product, parent: nil } %>
              </div>
                <%= render @product.comments.where(parent_id: nil).order(id: :desc) %>
              </div>
        </div>
    </div>
</div>

<%= render 'products/modal_product', obj: @product.images %>