<nav id="navbar-hide" class="navbar fixed-top shadow navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'SisPottery', root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: params[:action] == 'home' ? "nav-link active" : "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'About', pages_about_path, class: params[:action] == 'about' ? "nav-link active" : "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Shop', products_path, class: params[:action] == 'index' || 
          params[:action] == 'new' || 
          params[:action] == 'edit' || 
          params[:action] == 'show' ? "nav-link active" : "nav-link" %>
        </li>
      </ul>
      <div class="d-flex">
        <% if user_signed_in? %>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class:"btn btn-outline-light me-2" %>
          <%= link_to 'Edit Profile', edit_user_registration_path, class:"btn btn-outline-light" %>
        <% else %>
          <%= link_to 'Sign in', new_user_session_path, class:"btn btn-outline-light me-2" %>
          <%= link_to 'Sign up', new_user_registration_path, class:"btn btn-outline-light" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>

<script>
// var prevScrollpos = window.pageYOffset;
// window.onscroll = function() {
// var currentScrollPos = window.pageYOffset;
//   if (prevScrollpos > currentScrollPos) {
//     document.getElementById("navbar-hide").style.top = "0";
//   } else {
//     document.getElementById("navbar-hide").style.top = "-150px";
//   }
//   prevScrollpos = currentScrollPos;
// }
</script>