<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <%# <a class="navbar-brand ps-3" href="index.html">Start Bootstrap</a> %>
    <%= link_to "SisPottery", root_path, class:"navbar-brand ps-3" %>
    <!-- Sidebar Toggle-->
    <button
        class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0"
        id="sidebarToggle"
        href="#!">
        <i class="fas fa-bars"></i>
    </button>
    <!-- Navbar Search-->
    <div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0 navbar-nav">
    <%# <a href="" class="nav-link">
        <i class="bi bi-cart fs-5"></i>
    </a> %>
    <% if user_signed_in? && current_user.admin == false %>
    <button type="button" class="btn btn-sm text-decoration-none text-light btn-link" data-bs-toggle="modal" data-bs-target="#cartModal">
        <i class="bi bi-cart fs-5"></i>
        <span class="badge rounded-pill bg-danger">
            <%# <%= @notiforder.to_a.sum { |orderable| orderable.quantity } %>
            <%= @cart.orderables.count %>
            <%# <span class="visually-hidden">unread messages</span> %>
        </span>
    </button>
    <% end %>
    
        <%# <div class="input-group">
            <input
                class="form-control"
                type="text"
                placeholder="Search for..."
                aria-label="Search for..."
                aria-describedby="btnNavbarSearch"/>
            <button class="btn btn-primary" id="btnNavbarSearch" type="button">
                <i class="fas fa-search"></i>
            </button>
        </div> %>
    </div>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a
                class="nav-link dropdown-toggle"
                id="navbarDropdown"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                
            <%#  %>
            <% if user_signed_in? %>
                <%= image_tag(current_user.avatar.variant(resize_to_fill: [30, 30]), class: "rounded-circle") if current_user.avatar.attached? %>
                <img class="rounded-circle" src="http://www.familylore.org/images/2/25/UnknownPerson.png" width="30">
                <%= current_user.username %>
            <% else %>
                <img class="rounded-circle" src="http://www.familylore.org/images/2/25/UnknownPerson.png" width="30">
            <% end %>
            <%#  %>
                <%# <i class="fas fa-user fa-fw"></i> %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <% if user_signed_in? && current_user.admin == true %>
                    <li><%= link_to 'Dashboard', admin_pages_dashboard_path, class:"dropdown-item" %></li>
                    <li><%= link_to 'Edit profile', edit_user_registration_path, class:"dropdown-item" %></li>
                    <hr class="dropdown-divider"/></li>
                    <li><%= link_to 'Sign out', destroy_user_session_path, class:"dropdown-item", method: :delete %></li>
                <% elsif user_signed_in? && current_user.admin == false %>
                    <li><%= link_to 'Edit profile', edit_user_registration_path, class:"dropdown-item" %></li>
                    <hr class="dropdown-divider"/></li>
                    <li><%= link_to 'Sign out', destroy_user_session_path, class:"dropdown-item", method: :delete %></li>
                <% else %>
                    <li><%= link_to 'Sign in', new_user_session_path, class:"dropdown-item" %></li>
                    <li><%= link_to 'Sign up', new_user_registration_path, class:"dropdown-item" %></li>
                <% end %>
            </ul>
        </li>
    </ul>
</nav>

<%= render 'layouts/cartModal' if user_signed_in? && current_user.admin == false %>