<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <%# add core %>
                <a class="nav-link <%= params[:action] == 'dashboard' || params[:action] == 'home' ? 'active' : '' %>" href="<%= pages_home_path %>">
                    <div class="sb-nav-link-icon">
                        <i class="bi bi-house"></i>
                    </div>
                    Home
                </a>
                <a class="nav-link <%= params[:action] == 'about' ? 'active' : '' %>" href="<%= pages_about_path %>">
                    <div class="sb-nav-link-icon">
                        <i class="bi bi-people"></i>
                    </div>
                    About Us
                </a>
                <%#  %>
                <% if user_signed_in? %>

                <a class="nav-link <%= params[:action] == "show" && params[:controller] == "chatrooms" || params[:action] == "new" && params[:controller] == "chatrooms" || params[:action] == "edit" && params[:controller] == "chatrooms" ? 'active' : '' %>" href="<%= current_user.chatrooms.count > 0 ? chatroom_path(Chatroom.first) : new_chatroom_path %>">
                    <div class="sb-nav-link-icon">
                        <%# <i class="bi bi-telephone"></i> %>
                        <i class="bi bi-chat-dots"></i>
                    </div>
                    <%# Contact Us %>
                    Chat Admin
                </a>
                <% end %>
                <%#  %>

                <a class="nav-link <%= params[:action] == "index" && params[:controller] == "products" || params[:action] == "show" && params[:controller] == "products" ? 'active' : '' %>" href="<%= products_path %>">
                    <div class="sb-nav-link-icon">
                        <i class="bi bi-cart2"></i>
                    </div>
                    Shop
                </a>
                <% if user_signed_in? %>
                <a class="nav-link <%= params[:action] == 'show' && params[:controller] == 'cart' ? 'active' : '' %>" href="<%= cart_path %>">
                    <div class="sb-nav-link-icon">
                        <i class="bi bi-journal-text"></i>
                    </div>
                    My Order
                </a>
                <a class="nav-link <%= params[:action] == 'show' && params[:controller] == 'histories' ? 'active' : '' %>" href="<%= history_path %>">
                    <div class="sb-nav-link-icon">
                        <i class="bi bi-clock-history"></i>
                    </div>
                    Processed
                </a>
                <a class="nav-link <%= params[:action] == 'show' && params[:controller] == 'bucket' ? 'active' : '' %>" href="<%= bucket_path %>">
                    <div class="sb-nav-link-icon">
                        <i class="bi bi-journal-check"></i>
                    </div>
                    Purchase History
                </a>
                <a class="nav-link <%= params[:action] == 'show' && params[:controller] == 'faileds' ? 'active' : '' %>" href="<%= failed_path %>">
                    <div class="sb-nav-link-icon">
                        <i class="bi bi-journal-x"></i>
                        <%# <i class="bi bi-journal-check"></i> %>
                    </div>
                    Failed History
                </a>
                <%# end core %>
                <div class="sb-sidenav-menu-heading">Edit</div>
                <a class="nav-link <%= params[:action] == 'show' && params[:controller] == 'profiles' ? 'active' : '' %>" href="<%= profile_path(current_user.to_param) %>">
                    <div class="sb-nav-link-icon">
                        <i class="bi bi-person"></i>
                    </div>
                    My Profile
                </a>
                
                <a class="nav-link <%= params[:action] == 'edit' && params[:controller] == 'devise/registrations' ? 'active' : '' %>" href="<%= edit_user_registration_path %>">
                    <div class="sb-nav-link-icon">
                        <i class="bi bi-shield-lock"></i>
                    </div>
                    Edit Profile
                </a>
                <% end %>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <% if user_signed_in? %>
                <div class="small">Signed in as:</div>
                <%= truncate(current_user.username, length: 28) %>
            <% else %>
                Sis Pottery
            <% end %>
        </div>
    </nav>
</div>