    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3 sidebar-sticky">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
          <span>ADMIN MENU</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item <%= params[:action] == 'dashboard' ? 'bg-dark rounded' : '' %>">
            <%= link_to ' Dashboard', admin_pages_dashboard_path, class: params[:action] == 'dashboard' ? "nav-link text-white bi bi-house-door" : "nav-link bi bi-house-door" %>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link bi bi-file-earmark"> Orders</a>
          </li>
          <li class="nav-item <%= params[:action] == 'index' || params[:action] == 'show'  || params[:action] == 'edit' && params[:controller] == 'admin/products' ? 'bg-dark rounded' : '' %>">
            <%= link_to ' Products', admin_products_path, class: params[:action] == 'index' || params[:action] == 'show' || params[:action] == 'edit' && params[:controller] == 'admin/products' ? "nav-link text-white bi bi-circle" : "nav-link bi bi-circle" %>
          </li>
          <li class="nav-item <%= params[:action] == 'new' && params[:controller] == 'admin/products' ? 'bg-dark rounded' : '' %>">
            <%= link_to ' Add new product', new_admin_product_path, class: params[:action] == 'new' && params[:controller] == 'admin/products' ? "nav-link text-white bi-plus-circle" : "nav-link bi-plus-circle" %>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link bi bi-people"> Customers</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link bi bi-envelope"> Messages</a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
          <span>PAGES</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item <%= params[:action] == 'home' && params[:controller] == 'admin/pages' || params[:action] == 'about' && params[:controller] == 'admin/pages' ? 'bg-dark rounded' : '' %>">
            <a class="nav-link <%= params[:action] == 'home' && params[:controller] == 'admin/pages' || params[:action] == 'about' && params[:controller] == 'admin/pages' ? 'text-white' : '' %>" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              <span class="me-2">
                Edit main page
              </span> 
              <i class="ms-4 bi bi-caret-down"></i>
            </a>
            <div class="collapse" id="collapseExample">
              <div class="card card-body bg-light">
                <ul class="nav flex-column mb-2">
                  <li class="nav-item <%= params[:action] == 'home' && params[:controller] == 'admin/pages' ? 'bg-dark rounded' : '' %>">
                    <%= link_to ' Home', admin_pages_home_path, class: params[:action] == 'home' && params[:controller] == 'admin/pages' ? "nav-link text-white bi bi-dot" : "nav-link bi bi-dot" %>
                  </li>
                  <li class="nav-item <%= params[:action] == 'about' && params[:controller] == 'admin/pages' ? 'bg-dark rounded' : '' %>">
                    <%= link_to ' About us', admin_pages_about_path, class: params[:action] == 'about' && params[:controller] == 'admin/pages' ? "nav-link text-white bi  bi-dot" : "nav-link bi bi-dot" %>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
          <span>SETTING</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item <%= params[:action] == 'edit' && params[:controller] == 'devise/registrations' ? 'bg-dark rounded' : '' %>">
            <%= link_to ' Edit profile', edit_user_registration_path, class: params[:action] == 'edit' && params[:controller] == 'devise/registrations' ? "nav-link text-white bi bi-person" : "nav-link bi bi-person" %>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link bi bi-people"> Admin lists</a>
          </li>
        </ul>
        
      </div>
    </nav>
