<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>SisPottery</title>

        <%#  %>
        <%# <%= action_cable_meta_tag %>
        <%# <%= action_cable_meta_tag %>
        <%#  %>

        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <%# ADMIN VIEW %>
    <% if user_signed_in? && current_user.admin? %>
        <%= render 'layouts/main/admin' %>
    <%# USER VIEW %>
    <% else %>
        <%= render 'layouts/main/user' %>
    <% end %>
    <%#  %>

</html>
